body{
    max-width: 1270px;
    background-color: aquamarine;
    margin: 0 auto;
}
.card img{
    width: 400px;
    border-radius: 12px;
    padding: 10px;
    
}
card:hover{
    background-color: rgb(42, 244, 244);
}
.card{
    border: 5px solid black;
    background-color: lightblue;
    border-radius: 12px;
    box-shadow: 10px 10px 10px blue;
}
.card button{
    padding: 10px 10px;
    cursor: pointer;
}
.card h3{
    font-size: 1.5em;
    font-weight: 700;
}