.hero-container{
    display: flex;
    gap: 40px;
    border-radius: 25px;
    align-items: center;
    background-color: aliceblue ;
    padding: 25px;
    font-size: 1.25em;
}
.hero-container button{
    background-color: lightgreen;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}

.hero-container img{
    border-radius: 25px;
    width: 100%;
    height: 400px;
}
body{
    max-width: 1270px;
    background-color: aqua;
    margin: auto;
}