nav li{
    list-style: none;
    display: inline;
    margin: 15px;
}
nav li:hover{
    background-color: gray;
}
nav li a{
    text-decoration: none;
}
footer{
    text-align: center;
    color: red;
}