body{
    max-width: 1170px;
    background-color: rgba(9, 111, 111, 0.454);
    margin: 0 auto;
}
.card{
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.989);
}
.card:hover{
    background-color: aqua;
}
.card h3{
    font-size: 1.25em;
    font-weight: bold;
}
.card button{
    background-color: gray;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    padding: 5px;

}
.card img{
    width: 100%;
    border-radius: 20px;
}