.countryCard {
    border: 2px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countryCard button{
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background: yellow;
}
.countryCard h1{
    font-size: 20px;
    font-weight: bold;
}